:root {
    --primary-color: rgb(199, 73, 73);
    --secondary-color: rgba(255, 255, 255, 0.1);
    --tertiary-color: rgba(0, 0, 0, 0.2);
}

p {
    text-align: center;
    color: white;
    font-size: 12px;
    margin: 5px 0;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: var(--primary-color);
    margin: 0;
    padding: 20px;
    height: 100vh;
    display: flex;  
    justify-content: center;
    transition: background-color 1s ease;
}

.title{
    color: white;
    text-align: center;
    font-size: 30px
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.timer-container {
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 20px 70px;
    text-align: center;
}

.modes button{
    background-color: transparent;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.modes button.active{
    background-color: var(--tertiary-color);
    font-weight: bold;
    border-radius: 10%;
}


.controls button{
    background-color: white;
    border: none;
    color: var(--primary-color);
    padding: 15px 50px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5%;
    width: 50%;
}



.time{
    text-align: center;
    font-size: 120px;
    color: white;
    font-weight: bold;
    padding-bottom: 10px;
}
